
/**
 * Cutomize Tags
 */

body {
    margin-top          :   14%;
    background-image    :   url('m.jpg');
    background-repeat   :   no-repeat;
    background-size     :   100%;
    display             :   block;
    position            :   relative;
}

a {
    text-decoration     :   none;
}

.header a:visited {
    color               :   green;
}

h1, h2, h3, h4, h5, h6 {
	text-decoration		:	none;
    margin-top          :   0px;
    margin-bottom       :   0px;
}

/**
 * Main Layout elements
 * header, content, footer,
 */

.header {
    text-align          :   center;
    font-family         :   Times New Roman; 
	font-size           :   1.5em;
}
.content {
    margin              :   auto;
    width               :   100%;
    margin-top          :   20px;
    margin-bottom       :   80px;
    display             :   block;
    position            :   relative;
    min-height          :   300px;
}

.footer {
    color               :   Black;
    font-size           :   14px;
    margin              :   0px;
    padding             :   4px;;
    text-align          :   center;
    position            :   fixed;
    bottom              :   0px;
    left                :   0px;
    right               :   0px;
    background-color    :   #aaa;
}

/**
 * Sub layout, container elements
 */

.halfColumn {
    width               :   48%;
    margin-left         :   1%;
    display             :   block;
	max-height			:	170px;
    float               :   left;
	overflow-y			:	scroll;
}

.eventDisplay{
	width               :   100%;
    min-height          :  	150px;
	border				:	2px solid black;
	overflow-y			:	scroll;
	display				:	block;
	margin				: 	5px auto;
	float				:	left;
}


.smallLabel {
    width               :   140px;
    margin-right        :   10px;
    display             :   inline-block;
    color               :   #00248F;
    margin              :   auto;
    font-size           :   16px;
    font-family         :   Arial;
}

/**
 * Controls
 */

.lengthyButton {
    background-color    :   White;
    text-align          :   center;
    width               :   140px;
    margin              :   auto;
    margin-top          :   16px;
    margin-bottom       :   16px;
    font-size           :   1em;
    padding             :   0.2em 2em 0.2em 2em;
    border-radius       :   10px;
    border              :   1px solid #00248F;
    font-family         :   Verdana;
    color               :   Blue;
    box-shadow          :   inset 0em -1em 1em 0em rgba(0,0,0,0.5);
	-moz-transition     :   all 0.35s ease-in-out;
	-webkit-transition  :   all 0.35s ease-in-out;
    display             :   block;
}		 

.lengthyButton : hover {
    background-color    :   green;
	color               :   white;
    box-shadow          :   inset 0em -1em 1em 0em rgba(0,0,0,0.5);
}

.button
{	
	background-color: White;
	padding: 4px;
	color: Black;
	border-radius: 1em;
	border: 1px solid #00248F;
	text-decoration:none;
	font-family: verdana;
	display: inline-block;
    width: 80px;
    text-align:center;
    cursor:pointer;
	box-shadow: inset 0em -1em 1em 0em rgba(0,0,0,0.5);
	-moz-transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
	
}
.button:hover
{	
	background-color: Green;
	color: White;
	box-shadow: inset 0em -1em 2em 0em rgba(0,0,0,0.5);
	-moz-transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
}

/**
 * Misc
 */

.logo {
    position            :   fixed;
    bottom              :   8%;
    right               :   1%;
    z-index             :   -10;
}

.freeze
{	
	background-color: White;
	padding: 10px;
	color: Black;
	border-radius: 1em;
	border: 1px solid #00248F;
	text-decoration:none;
	font-family: verdana;
	font-size:0.8em;
	display: inline-block;
    width: 9em;
    text-align:center;
    cursor:pointer;
	box-shadow: inset 0em -1em 1em 0em rgba(0,0,0,0.5);
	-moz-transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
	position: relative;
	left : 12em;
}	
.freeze:hover
{	
	background-color: Green;
	color: White;
	box-shadow: inset 0em -1em 2em 0em rgba(0,0,0,0.5);
	-moz-transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
}